.turn > div{
  height: 400px
}

.turn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.authorImage {
	max-height: 100%;
	width: 60%;
}

.answer {
  background-color: #F0F7FD;
  border-color: #D0E3F0;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #D0E3F0;
  cursor: pointer;
}

.answer:hover{
  background-color: #D0E3F0;
}

.continue {
  padding-top: 20px;
  padding-bottom: 20px;
}